/* -------------------------------- 

Primary styles

-------------------------------- */


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #3e3947;
  background-color: white;
}

body, html {
  height: 100%;
}

a {
  color: #4087f9;
  text-decoration: none;
  font-size: 1em;
  font-family: "Ubuntu", sans-serif;
  color: white;  
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 100%;
}

p
{
    text-align: justify;      
}
pre
{
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

    margin: 10px;
    padding: 4px 8px;

    color: #444;
    border: 1px solid #ccc;
    background: #f2f2f2;
}

h1 small
{
    font-size: .5em;
    font-weight: normal;
}

h1
{
    font-size: 2em;
}

h2
{
    text-align: center;
    color: white;
    /*padding-top: 20px;*/
    padding-bottom: 20px;
    font-size: 3.5em;

}

h3
{
    margin-top: 40px;
}


/* -------------------------------- 

Custom styles

-------------------------------- */


.text {
  font-size: 1.9em;
  font-family: "Ubuntu", sans-serif;
  /*color: #3e3947;*/
  color: white;
}

#grid,
#pager
{
    width: 90%;
    margin-left: 60px;
}
#grid
{
    bottom: 0;
    height: 300px;
    font-size: 1.5em;
}
#pager
{
    bottom: 306px;

    height: 20px;
}

.slick-row:hover
{
    font-weight: bold;

    color: #069;
}
