body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
}


body {
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 24px;
  background: #fcfcfc;
  line-height: 1.45em;
}
a {
  color: #555;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
p {
  width: 500px;
}
pre {
  color: #444;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  margin: 10px;
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 40px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 16px;
}

#grid, #pager {
  position: fixed;
  width: 100%;
}
#grid {
  bottom: 0;
  height: 300px;
}
#pager {
  bottom: 306px;
  height: 20px;
}
.slick-row:hover {
  font-weight: bold;
  color: #069;
}

.parcoords {
	height: 500px;
	width: 2000px;
}

.chart-wrapper .chart-title {
	font-size: 1.2em;
	text-align: center;
	color: black;
}

.chart-wrapper .chart-stage {
	padding: 10px;
}


/* Style Graph Axes Labels */

.x-axis-label {
	font-size: 0.9em;
}

.y-axis-label {
	font-size: 0.9em;
	padding-left: 10px;
}

.chart-wrapper .chart-notes {
	font-size:0.9em;
}

#group-text {
	font-size: 1.4em;
}

/* Style Show/Hide Menus for major viz divisions */

.toggle {

	margin-top: 10px;
	margin-bottom: 10px;
}

button {
    background-color: #2d79b7; /* Green */
    border: none;
    color: white;
    padding: 3px 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}