.panel {
    stroke: black;
    /*fill: black;*/
    fill: #745360;
    
}

.bg {
    fill: #745360;
}

.link {
    stroke: silver;
    stroke-opacity: 0.05
}

.dot {
    fill-opacity: 0.5;
}

.label-node {
    fill: silver;
}

.active {
    stroke: black;
}

.label {
    fill: white;
    pointer-events: none;
    font-size:1em;
}

#tooltip {
    font-size: 1em;
    margin-top: 22px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

#tooltip h1 {
    font-size: 14px;
    margin: 0;
}
