.panel {
    stroke: white;
    fill: #745360;
}


.bg {
    fill: #745360;
}

.link {
    stroke: silver;
    stroke-opacity: 0.05
}

.dot {
    fill-opacity: 0.5;
}

.label-node {
    fill: white;
}

.active {
    stroke: black;
}

.label {
    fill: white;
    pointer-events: none;
    font-size: 1.5em;
}

#tooltip {
    font-size: 3em;
    margin-top: 22px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    fill: white;
}

#tooltip h1 {
    font-size: 5em;
    margin: 0;
}

#radviz-tooltip {
    fill: white;
}